@ibma:registry=https://na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:_password=${NPM_PWD}
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:username=${NPM_USER}
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:email=${NPM_USER}
//na-blue.artifactory.swg-devops.com:443/artifactory/api/npm/res-ibma-npm/:always-auth=true