<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.name.productTitle %></title>

    <!-- css overrides go here -->
    <%= htmlWebpackPlugin.tags.headTags.map(_ => { _.attributes.nonce="kuiDefaultNonce"; return _ }).join('\n') %>

    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.client.imageHome %><%= htmlWebpackPlugin.options.icons.favicon %>" />

    <!-- <meta http-equiv="Content-Security-Policy" content="<%= htmlWebpackPlugin.options.client.contentSecurityPolicy %>" /> -->

    <script nonce="kuiDefaultNonce">
      window['_kuiNonce'] = 'kuiDefaultNonce';
      window['_kuiWebpackHash'] = '${hash}';
      window['_kuiWebpackResourceRoot'] = '${resourceRoot}';
    </script>
  </head>
  <body>
    <div class="page">
      <div class="main"></div>
    </div>
  </body>
</html>