Dockerfile*
Makefile*
*/Makefile*
proxy
scripts
testcerts/tls.key
testcerts/tls.crt
.git*
*/package-lock.json
*~
#*
*.tmp
*.bak
*.log
**/tests/node_modules
**/*-debug.log
**/*.ts
**/.bak
**/*.map
**/*.png
**/*.icns
**/*.ico
**/*.debug.js
**/package-lock.json


