**/.DS_Store
proxy/node_modules
proxy/.keys
proxy/build
proxy/dist
proxy/kui
proxy/app/views/main.dust
client/build
client/dist
client/node_modules
client/packages
client/plugins/plugin-sample
client/kui-webpack-tmp
client/test-output
client/selenium-debug.log
tmp
tmp/kui
.keys
downloads
plugin-downloads
variables
build-harness
.build-harness