**/.DS_Store
# (placeholder) Do not ignore proxy/node_modules if/when we enable vendorizing of the master branch
proxy/node_modules
proxy/.keys
proxy/build
proxy/dist
proxy/kui
proxy/app/views/main.handlebars
proxy/app/views/main.dust
proxy/app/public/plugin-search.css
proxy/app/public/ibm-plex.css
proxy/app/public/top-tab-stripe-alt.css
client/build
client/packages/app/build
client/packages/app/src/main.ts
client/dist
# (placeholder) Do not ignore client/node_modules if/when we enable vendorizing of the master branch
client/node_modules
client/plugins/plugin-sample
client/kui-webpack-tmp
client/src/**/*.js
client/src/**/*.js.map
client/src/**/*.d.ts
# Only ignore top level tmp direcotry, Downstream must not ignore tmp nodejs package (unlesss cachito fixes this issue)
./tmp
tmp/kui
.keys
options.yaml
test-output
downloads
# (placeholder) Do not ignore plugin-downloads as we vendorize the master branch for downstream builds
# plugin-downloads
variables
build-harness
build-harness-extensions
.build-harness
.build-harness-bootstrap
BIG-T-CSV
awsom-output
wicked_cli.log
# override build harness vendoring
!vbh/.build-harness-vendorized
!vbh/build-harness
!vbh/build-harness-extensions
