/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@import 'fonts';
@import 'header-overrides';

.page {
  height: calc(100% - 76px) // resize to accomodate common header
}

.still-loading { // input bar is visible while kui is loading
  .kui--input-stripe {
    visibility: hidden;
  }
}

// Make the page title show up
.kui-header__title.kui-header__title {
  display: inline-flex;
}

.result-table-outer .max-width-id-like { // fix table cell truncation issue
  max-width: unset;
  overflow: auto;
  text-overflow: unset;
  white-space: unset;
}

.result-as-table.result-as-multi-table { // helm status table display corrections
  .repl-result.repl-result {
    display: block;

    .result-table-outer-wrapper {
      display: block;
      margin-top: 1.5rem;

      &:first-of-type {
        margin-top: 0;
      }

      & > div {
        padding-right: 0;
      }
  
      .result-table-outer {
        padding-right: 0;
        width: 100%;
        .result-table {
          width: 100%;
        }
      }
    }
  }
}

#sidecar {
  .sidecar-header {

    &-name-content {
      .entity-name-line .entity-name {
        word-break: unset;
        max-height: unset;
      }
    }

  }
  .sidecar-content-container { // helm get sidecar table display corrections
    .result-as-table.repl-result {
      display: block;
  
      .result-table-outer-wrapper {
        margin-top: 1.5rem;
        display: block;
  
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

// Hack to disable screenshot feature
.kui--repl-prompt-buttons--screenshot, .screenshot-button {
  display: none !important;
}
