/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@import 'fonts';
@import 'header-overrides';

.page {
  height: calc(100% - 3.082rem) // resize to accomodate common header
}

#confirm-dialog.bx--modal-container { // carbon v9/v10 conflict fixes
  border-top: none;
  padding: 0;

  .bx--modal-footer {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
